.env
*.mp3
*.wav
*.csv
*.txt
*.xlsx
__pycache__/
*.pyc
charts/
extra/
extracted/
new_scripts/
cover image.png
generate_demo_audio.py
extra/*
!extra/generate_scripts.py
!extra/logistic.py
!extra/decision_tree.py
!extra/audio.py
transcripts/
